body,td,p,input,select,textarea		{font-size:9pt; font-family:"ו";}
p		{line-height:120%; text-indent: 0em;}
form		{margin-top:2; margin-bottom:2;}
A:link		{font-size: 9pt;color: #0D77CB;	text-decoration: none;}
A:visited	{font-size: 9pt;color: #0D77CB;	text-decoration: none;}
A:hover		{font-size: 9pt;color: #FF6A01;	text-decoration: none;}
A:active	{font-size: 9pt;color: #0D77CB;	text-decoration: none;}

..input1 	{background-color: #f0f0f0; border:	1px solid rgb(120,172,255) }
..input2 	{background-color: #EEEEEE; border:	1px solid rgb(120,172,255); color:#888888;}



..subtitletable	{font-size:12pt; font-weight:bold;}
..currentlocation {background-color: #79A5DF; font-size:9pt; color:#FFD66B; height: 18pt;}


..trbg1          {  background-color: #CCFF99}
..trbg2          {  background-color: #FFFFCC}
..tdframe	{background-color: rgb(120,172,255);}
..tdsectionbar	{background-color: rgb(120,172,255); font-size:9pt; font-weight:bold; color:#000044; text-indent: 0pt; height: 16pt; }
..tdbg0		{}
..tdbg1		{background-color: white; font-weight:bold; color:#000000; height: 20pt; font-size:9pt;}
..tdbg2		{background-color: #ddd; font-weight:bold; color:#000000}
/*.tdbgbutton	{background-color: #ddddee;}*/
..tdbgpaging	{background-color: #FFFFFF;}
..alert		{color:#ff0000;}
..error		{font-size:10.6pt; font-weight:bold; color:#ff0000;}
..ok		{font-size:10.6pt; font-weight:bold; color:#000000;}
..newTable       {padding-top: 2px; padding-bottom: 2px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
..newTd          {border:1 solid}
