html {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
body {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
div {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
span {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
applet {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
object {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
iframe {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h1 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h2 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h3 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h4 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h5 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
h6 {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
p {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
blockquote {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
pre {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
a {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
abbr {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
acronym {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
address {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
big {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
cite {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
code {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
del {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
dfn {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
em {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
font {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
img {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
ins {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
kbd {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
q {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
s {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
samp {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
small {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
strike {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
strong {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
sub {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
sup {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
tt {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
var {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
b {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
u {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
i {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
center {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
dl {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
dt {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
dd {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
ol {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
ul {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
li {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
fieldset {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
form {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
label {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
legend {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
table {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
caption {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
tbody {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
tfoot {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
thead {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
tr {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
th {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
td {
	list-style: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; color: rgb(119, 119, 119); font-family: arial,Î¢ÈíÑÅºÚ; font-size: 12px; text-decoration: none; vertical-align: baseline;
}
.left {
	float: left;
}
.right {
	float: right;
}
#box {
	margin: auto; width: 940px;
}
#hd {
	width: 940px; height: 125px; margin-top: 50px;
}
#topnav {
	margin-top: 40px; margin-left: 30px;
}
#topnav li {
	margin: 0px 5px; float: left; display: inline;
}
#topnav li a:hover span {
	color: rgb(167, 2, 2);
}
#language {
	overflow: hidden; margin-bottom: 5px;
}
.jflanguageselection li {
	margin-left: 10px; float: left;
}
#llbox {
	text-align: right;
}
#active_language a span {
	color: rgb(167, 2, 2); font-weight: bold;
}
#llbox a:hover {
	color: rgb(167, 2, 2);
}
#kgrid {
	margin: auto; width: 934px; overflow: hidden;
}
.kcategories {
	margin: 3px; border: 1px solid rgb(221, 221, 221); width: 225px; height: 95px; text-align: center; display: inline; position: relative; cursor: pointer;
}
.kcategories a.catTitle {
	left: 0px; top: 40px; width: 225px; text-align: center; color: rgb(102, 102, 102); font-size: 16px; font-weight: bold; position: absolute; cursor: pointer;
}
.catAuthors {
	width: 225px; overflow: hidden; margin-top: 40px; display: none;
}
.catAuthor:hover {
	color: rgb(167, 2, 2) !important;
}
#sns {
	text-align: right; margin-top: 10px; border-bottom-color: rgb(233, 233, 233); border-bottom-width: 1px; border-bottom-style: solid;
}
#ft {
	padding-top: 10px;
}
#ft ul li a span {
	color: rgb(102, 102, 102);
}
#ft ul li a:hover span {
	color: rgb(167, 2, 2);
}
#ftitle {
	color: rgb(94, 94, 94); font-size: 14px; font-weight: bold;
}
#flmenu {
	margin-top: 10px; margin-left: 15px;
}
#frmenu {
	margin-top: 10px;
}
#fmenus {
	overflow: hidden;
}
#flogos {
	margin: 40px auto 0px; width: 930px; overflow: hidden;
}
#flogos img {
	margin: 0px 2px; float: left; display: inline;
}
.active_catTitle .catTitle {
	color: rgb(167, 2, 2) !important;
}
.hover_catTitle .catTitle {
	color: rgb(167, 2, 2) !important;
}
#inbd {
	overflow: hidden;
}
#topnav .parent {
	position: relative;
}
#topnav .parent ul {
	top: 20px; width: 500px; overflow: hidden; position: absolute;
}
#inlt {
	width: 210px;
}
#inrt {
	width: 710px;
}
.width-100 {
	width: 100% !important;
}
#inrt h2 {
	margin: 10px 0px; color: rgb(167, 2, 2); font-size: 14px;
}
.imTitle {
	margin: 10px 0px; color: rgb(167, 2, 2); font-size: 14px; font-weight: bold;
}
.gallery_box img {
	margin-left: 10px;
}
.gallery_name_f {
	margin-top: 15px; margin-bottom: 5px;
}
.gallery_name_s {
	text-indent: 10px; margin-bottom: 2px;
}
#gtitle span {
	color: rgb(102, 102, 102); font-size: 18px; font-weight: bold;
}
#gtitle {
	color: rgb(102, 102, 102); font-size: 18px;
}
#inav {
	margin: 5px 0px;
}
#inav span {
	color: rgb(122, 122, 122); font-size: 16px; font-weight: bold;
}
#inav a {
	margin: 0px 15px; font-size: 12px;
}
#fbox {
	margin-top: 30px; margin-left: 30px;
}
.active_gallery {
	color: rgb(170, 14, 14);
}
.gitem_box {
	background: url("../images/preload.gif") no-repeat center; height: 700px; text-align: center; margin-right: 30px;
}
.gitem_box img {
	height: 700px;
}
.isp {
	font-size: 12px !important; font-weight: normal !important;
}
#inrt .contentpaneopen {
	width: 100%;
}
.banner_img {
	display: none; position: absolute;
}
#banner1 {
	display: block;
}
#gname {
	width: 1024px; text-align: center; color: rgb(94, 94, 94); font-size: 20px; font-weight: bold;
}
#gdetail {
	width: 1024px;
}
#cp {
	text-align: right; color: rgb(184, 184, 184); line-height: 20px; margin-top: 10px;
}
